:root{
    --fundo:#80cbe2;
   --cor-frente:#3CB371;
   --cor-verso:#2F4F4F;
   --destaque:#bdc8f8;
   --preto:#000000;
   --branco:#ffffff;
   }
   

body {
    background-color: var(--fundo);
    margin: 0;
}

header {
    background-color: var(--preto);
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

header a {
    color: var(--branco);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    padding: 2rem;
    display: grid;
    gap: 4rem;
}

.cartao{
    background-color: var(--cor-frente);
    color: var(--branco);
    padding: 40px;
    box-shadow: 5px 5px 23px var(--preto);
    cursor: pointer;
}

.cartao:hover{
    transform: scale(1.04);
}
.resposta-cartao{
    background-color: #e6dede;
    padding: 40px;
    display: none;
}