:root{
 --fundo:#2bcee4;
--cor-frente:#3CB371;
--cor-verso:#2F4F4F;
--destaque:#98FB98;
--preto:#000000;
--branco:#ffffff;
}

body{
 background-color: var(--fundo);
 margin:0
}

footer{
 position: absolute;
  bottom: 0;
  background-color: var(--preto);
 color:var(--branco);
width: 100%;
 text-align: center;
}
