:root{
 --fundo:#80cbe2;
--cor-frente:#3CB371;
--cor-verso:#2F4F4F;
--destaque:#98FB98;
--preto:#000000;
--branco:#ffffff;
}

body{
 background-color: var(--fundo);
 margin:0
}

footer{
 position: absolute;
  bottom: 0;
  background-color: var(--branco);
 color:var(--preto);
width: 100%;
 text-align: center;
}

#container{
padding: 2rem;
display: flex;
gap: 3rem;
flex-wrap: wrap;

}

.cartao{
flex-grow: 1;
flex-basis: calc(33% - 6rem);
height: 20rem;
margin: 1rem;
}